python-telegram-bot[job-queue]
speechrecognition
pydub
gtts
aiohttp
langdetect
python-dotenv
Pillow
aiohttp[speedups]
psutil
groq
redis
together
google-generativeai
folium
openrouteservice
